<% @page_title = "Account Settings for #{Account.sole.name}" %>

<% content_for :header do %>
  <h1 class="header__title"><%= @page_title %></h1>
<% end %>

<section class="settings">
  <%= render "account/settings/users", users: @users %>
  <%= render "account/settings/entropy_configuration", account: @account %>
</section>
