<section id="not-now" class="cards cards--on-deck is-collapsed" style="--card-color: var(--color-card-complete);"
  data-collapsible-columns-target="column"
  data-action="turbo:before-morph-attribute->collapsible-columns#preventToggle"
>

  <%= render "collections/show/expander", title: "Not Now", count: collection.cards.postponed.count, column_id: "not-now" %>

  <%= column_frame_tag :not_now_column, src: public_collection_columns_not_now_path(collection.publication.key) %>
</section>