  <div class="card__stages">
    <% card.collection.columns.each do |column| %>
      <%= tag.span column.name, class: ["workflow-stage btn overflow-ellipsis", { "workflow-stage--current": column == card.column }] %>
    <% end %>
  </div>
