<% @page_title = "Create a new bucket" %>

<h1>New Bucket</h1>

<%= form_with model: @bucket do |form| %>
  <p>Name:<br><%= form.text_field :name, required: true %></p>
  <p><%= form.submit %>
<% end %>
