<div class="notification__collection">
  <span class="notification__id"><%= notification.source.eventable.id %></span>
  <span class="notification__collection-name overflow-ellipsis">
    <%= notification.source.collection.name %>
  </span>
</div>
