<label class="card__collection">
  <span class="card__id"><%= card.id %></span>
  <span class="card__collection-name">
    <span class="overflow-ellipsis"><%= card.collection.name %></span>
  </span>
  <%= yield %>
</label>
